<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    
    <body>
        <h1>Twitter Clone Login</h1>
        {{ data }}
        <div>
            <form action="{% url 'index'%}" method="post">
                {% csrf_token %}
                <p>Username: <input type="text" name="username"></input></p>
                <p>Password: <input type="password" name="password"></input></p>
                <button type="submit">Login</button>
            </form>
        </div>
        {% if error %}
        <div>
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </body>
</html>