{% load static %}
<!DOCTYPE html>
<html>
    <head>
    
        <title>Twitter Clone</title>

    </head>

    <body>
        
        <center>

            {% include 'header.html' %}
            
            <div class="panel panel-default center-block" style="width: 50%;">
                <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                </div>
              
                <div max-height: 400px; overflow: auto; overflow-x: hidden; index="timeline">
                    {% for i in user_list %}
                    <div style="padding-left: 20px; border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;">
                        <div class="panel-body">
                            <a href="{% url 'profile' %}?user={{ i }}" style="padding: 5px 0px 5px 0px; word-break: break-all; font-size: 17px;">{{ i }}<a>
                            <br>
                        </div>
                    </div>
                    {% empty %}
                    <div style="padding-left: 20px; border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;">
                        <div class="panel-body">  
                            <a style="text-decoration: none; color: black;">Emtpy...</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
        </center>
    
    </body>

</html>