{% load static %}
<!DOCTYPE html>
<html>
    <head>
    
        <title>Twitter Clone Login</title>

    </head>

    <body>

        <div>   
            {% include 'header.html' %}
            
            <div class="panel panel-default center-block" style="width: 30%;">
              <div class="panel-heading">
                <h3 class="panel-title">Sign-up</h3>
              </div>
              
              <div class="panel-body">
            
                <form action="{% url 'signup'%}" method="post">
                {% csrf_token %}
                
                    <input autocomplete="off" class="form-control" type="text" name="username" maxlength="45" placeholder="Username"></input>
                    <br>
                    <input autocomplete="off" class="form-control" type="password" name="password" placeholder="Password"></input>
                    <br>
                    <input autocomplete="off" class="form-control" type="password" name="password2" placeholder="Confirm Password"></input>
                    <br>
                    <div class="input-group" style="width: 90%; margin: 0 auto; text-align: center;">
                        {% if error %}
                        <div class="alert alert-danger">
                            <p>{{ error }}</p>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Signup</button>
                        <br><br>
                        <a href="{% url 'login_page' %}" class="btn btn-default btn-sm">Back</a>
                    </div>
                
                </form>
            </div>
    </body>

</html>